.navigations {
  text-decoration: none;
}

.navigate {
  justify-content: space-between;
  align-items: center;
}

.nav-mobile {
  display: none;
}

.handle {
  padding: 0 8px;
  font-size: 23px;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
}

.card {
  height: 200px;
  width: 800px;
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  margin: 0 50px 50px 0;
  background-color: rgb(231, 231, 241);
  font-size: 2rem;
  border-radius: 17px;
  color: darkmagenta;
  border: 1px solid darkmagenta;
}

.card:hover {
  background-color: darkmagenta;
  color: rgb(231, 231, 241);
  border: 1px solid darkmagenta;
}

@media screen and (max-width: 769px) {
  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: inline-flex;
    justify-content: space-between;
  }
}
