.navigations {
  text-decoration: none;
}

.navigate {
  justify-content: space-between;
  align-items: center;
}

.nav-mobile {
  display: none;
}

.handle {
  padding: 0 8px;
  font-size: 23px;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
}

.card {
  height: 200px;
  width: 800px;
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  margin: 0 50px 50px 0;
  background-color: rgb(231, 231, 241);
  font-size: 2rem;
  border-radius: 17px;
  color: darkmagenta;
  border: 1px solid darkmagenta;
}

.card:hover {
  background-color: darkmagenta;
  color: rgb(231, 231, 241);
  border: 1px solid darkmagenta;
}

.list {
  overflow: scroll;
  width: 220px;
}

.list-image {
  height: 200px;
  width: 200px;
  display: block;
  margin-bottom: 20px;
}

.images {
  padding-left: 10rem;
  overflow: scroll;
  width: 700px;
}

.gallery {
  display: flex;
  height: 90vh;
}

.description {
  width: 250px;
  margin: 1rem;
}

.about-content {
  flex: 2;
}

.about-images {
  flex: 2;
  padding: 2rem 0 2rem 2rem;
}

@media screen and (max-width: 769px) {
  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: inline-flex;
    justify-content: space-between;
  }
}
