.navigations {
  text-decoration: none;
}

.navigate {
  justify-content: space-between;
  align-items: center;
}

.nav-mobile {
  display: none;
}

.handle {
  padding: 0 8px;
  font-size: 23px;
}

.progressbar {
  color: blue;
}

@media screen and (max-width: 769px) {
  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: inline-flex;
    justify-content: space-between;
  }
}
