.navigations {
  text-decoration: none;
}

.navigate {
  justify-content: space-between;
  align-items: center;
}

.handle {
  padding: 0 8px;
  font-size: 23px;
}

@media screen and (max-width: 600px) {
}
