body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

li {
  padding: 0 2.5rem;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.d-flex {
  display: flex;
}

.gen-padding {
  padding: 0 8%;
}
